<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: Arial, sans-serif; font-size: 12px; }
        h1, h2, h3 { color: #003366; }
        table { border-collapse: collapse; width: 100%; margin-bottom: 15px; }
        th, td { border: 1px solid #999; padding: 5px; text-align: center; }
        .titulo { font-size: 16px; font-weight: bold; margin-bottom: 15px; }
    </style>
</head>
<body>
    <div class="titulo">Método de la Gran M - Resultado Exportado</div>
    {{ resultado|safe }}
    <script src="https://unpkg.com/darkmode-js/lib/darkmode-js.min.js"></script>
<script>
  const options = {
    bottom: '32px', // posición vertical del botón
    right: '32px',  // posición horizontal del botón
    left: 'unset',
    time: '0.5s', // duración de la transición
    mixColor: '#fff', // color de mezcla (para la animación)
    backgroundColor: '#fff',  // color claro por defecto
    buttonColorDark: '#100f2c',  // color del botón en modo oscuro
    buttonColorLight: '#fff',    // color del botón en modo claro
    saveInCookies: true, // guarda la preferencia del usuario
    label: '🌓', // emoji o texto del botón
    autoMatchOsTheme: true // usar el modo del sistema automáticamente
  }

  const darkmode = new Darkmode(options);
  darkmode.showWidget();
</script>

</body>
</html>
