<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solver</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Mixgyt/RetroSci-Fi_library/dist/css/sci-fi.css">
    <script src="https://cdn.jsdelivr.net/gh/Mixgyt/RetroSci-Fi_library/dist/js/retrosci-fi.js" defer></script>
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <nav class="navbar bg-secondary estilo-brillo border rounded border-white hover-neon p-1">
        <div class="navbar-header">
            <div class="navbar-brand">
                <img src="/static/img/logo.png" alt="" style="width: 50px; height: 50px;">Forja Solver
            </div>
            <button class="navbar-toggle">
                <div class="img-menu-white"></div>
            </button>
        </div>
        <div class="navbar-nav">
            <a class="nav-item rounded-pill" href="#">Solver</a>
            <a class="nav-item rounded-pill" href="#">Documentación usuario</a>
        </div>
    </nav>

    <div class="main-grid">
        <div class="bg-success text-white border-3 border-success rounded"></div>
        <div class="bg-secondary text-white border-0"></div>
    </div>
</body>

</html>