{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>solver</title>

        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Mixgyt/RetroSci-Fi_library/dist/css/sci-fi.css">
        <script src="https://cdn.jsdelivr.net/gh/Mixgyt/RetroSci-Fi_library/dist/js/retrosci-fi.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js" defer></script>
    </head>
<body >

  <!-- Barra superior -->
  <nav class="navbar bg-secondary estilo-brillo border rounded border-white hover-neon p-3 w-full flex justify-between items-center">
    <div class="flex items-center gap-2">
      <img src="{% static 'img/logo.png' %}" alt="Logo" style="width: 50px; height: 50px" />
      <span class="text-white font-bold">Forja Solver</span>
    </div>
    <div class="flex gap-4">
      <a class="nav-item rounded-pill text-white hover:text-cyan-300" href="#">Registrarse</a>
      <a class="nav-item rounded-pill text-white hover:text-cyan-300" href="#">Documentación</a>
    </div>
  </nav>

  <!-- Contenedor centrado -->
  <div class="flex justify-center items-center min-h-screen mt-8 ">
    <div class="p-6 w-full max-w-md bg-white rounded-lg shadow-xl dark:bg-gray-800 min-h-[500px] flex flex-col justify-center">
      <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-5 flex justify-center">
        Iniciar sesión
      </h2>
       <p class="text-blue-900">{{error}}</p>
      <form class="space-y-5" method="post">
         {% csrf_token %} 
            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ingrese su usuario</label>
                <input type="text" name="username" id="username"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                        placeholder="juli chava" required />
            </div>

            <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                <input type="password" name="password" id="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                        placeholder="••••••••" required />
            </div>
            <button type="submit"
                    class="w-full bg-blue-700 text-white px-4 py-2 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Iniciar sesión
            </button>
             <a href="{% url 'login' %}"
                    class="mb-4 inline-block text-center bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition w-full">
                    cancelar
                </a>
            <p class="text-sm text-gray-500 dark:text-gray-300">
            ¿No tienes una cuenta? <a href="{% url 'registro' %}" class="text-blue-600 hover:underline dark:text-blue-500">Regístrate</a>
            </p>
      </form>
    </div>
  </div>

</body>
</html>
