{% extends "base.html" %}

{% load static %}

{% block nombre %} Solver {% endblock %}
{% if user.is_authenticated %}

{% block contenido %}
<div class="bg-success text-white border-3 border-success rounded variables-grid">
    <div class="text-content list-calculadora">
        <span class="info-text">Calculadora:</span>
        <select name="modelos" id="models">
            <option value="seleccion" disabled>Seleccione un modelo</option>
            <option value="grafico">Modelo Grafico</option>
            <option value="simplex">Modelo Simplex</option>
            <option value="GranM">Modelo de la Gran M</option>
            <option value="punto-fijo">Modelo Punto Fijo</option>
            <option value="trasadores-cubicos">
                Modelo Trasadores Cubicos
            </option>
        </select>
    </div>
    <div class="text-content cont-variables">
        <span class="info-text">Cantidad de Varibles:</span>
        <input type="number" name="cant-variables" id="cant-variables" min="2" max="50" value="2" />
    </div>
    <div class="text-content const-restricciones">
        <span class="info-text">Cantidad de Restricciones:</span>
        <input type="number" name="cant-restricciones" id="cant-restricciones" min="1" max="50" value="1" />
    </div>
    <div class="text-content objetivo">
        <span class="info-text">Objetivo:</span>
        <select name="objetivos" id="objetivos">
            <option value="max">Maximizar</option>
            <option value="min">Minimizar</option>
        </select>
    </div>
    <div class="text-content funcion-objetivo">
        <span class="info-text">Funcion Objetivo:</span>
    </div>
    <div class="text-content restricciones">
        <span class="info-text">Restricciones:</span>
    </div>
    <div class="esp-botones">
        <div class="layout-btn">
            <a class="btn-custom limpiar" href="#"><img src='{% static "img/limpiar.png" %}'
                    alt=""><span>Limpiar</span></a>
            <a class="btn-custom resolver" href="#"><img src='{% static "img/guardar.png" %}'
                    alt=""><span>Resolver</span></a>
        </div>
    </div>
</div>
<div class="bg-secondary text-white border-0"></div>
{% endblock %}