{% extends "base.html" %}

{% load static %}

{% block nombre %} Tienda {% endblock %}

{% block contenido %}
<a class="" href="{% url 'index' %}">Inicio</a>
        <div class="card-header">Modo Premiun</div>
        <div class="card-body">
            <h5 class="card-title">Comprar modo premiun?</h5>
            <p class="card-text">
                Con el modo premiun podra ver todos los procesos de los modelos matetmaticos.
            </p>
            {% if user.is_authenticated and user.userprofile.is_premium %}
                <div class="alert alert-success">¡Ya tienes modo premium!</div>
            {% else %}
                <form method="post" action="{% url 'comprar_premium' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Comprar!</button>
                </form>
            {% endif %}
        </div>
{% endblock %}